version: '3'
services:
  node:
    build: node
    volumes:
      - ./src:/root/src
    tty: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - '3000:3000'
      - '24678:24678'
